body {
  font-family: 'Times New Roman', serif;
  background: radial-gradient(circle, #2b002b, #14012d);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  background: radial-gradient(rgb(0, 0, 0), rgb(102, 96, 145))
}

header {
  position: relative;
  padding: 20px;
}

/* ハンバーガーメニュー全体のスタイル */
.menu {
  position: absolute;
  top: 10px; /* 画面上からの位置 */
  right: 10px; /* 画面右からの位置 */
  z-index: 1000;
}

/* ハンバーガーアイコンのスタイル */
.menu-icon {
  font-size: 50px;
  cursor: pointer;
  color: white;
  background-color: #212645;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.menu-icon:hover {
  background-color: #baa8e7;
}

/* メニューリストのスタイル */
.menu-list {
  display: flex;
  flex-direction: column; /* 縦方向に並べる */
  position: absolute;
  top: 75px; /* ハンバーガーアイコンの下に表示 */
  right: 10px; /* 画面右端に揃える */
  width: auto; /* メニューの幅を自動調整 */
  background-color: #212645; /* 背景色 */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 影をつける */
  visibility: hidden; /* 初期状態では非表示 */
  opacity: 0; /* 初期状態では透明 */
  transition: visibility 0.2s, opacity 0.2s;
}

/* メニューリストのリンクのスタイル */
.menu-list a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0; /* 各リンクの間に適切な余白 */
  white-space: nowrap; /* テキストを折り返さない */
  font-size: 20px;
}

.menu-list a:hover {
  background-color: #baa8e7; /* ホバー時の背景色 */
}

/* メニューをアクティブにしたときの表示設定 */
.menu.active .menu-list {
  visibility: visible; /* メニューを表示 */
  opacity: 1; /* 不透明にする */
}

h1 {
  font-size: 2.5em;
  margin-top: 50px;
  color: rgb(240, 232, 221);
  background: #212645;
  border: none;
  border-radius: 5px;
  width: 700px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-container,
.products,
.profile {
  margin: 50px auto;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background: #0c052a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 影をつける */
}

button:hover {
  background: #5111b9;
}

main {
  width: 600px;
  margin: 20px auto;
  padding: 40px 80px;
  border: 1px solid #1a1e34;
  background-color: #212645;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.prof-box {
  background-color: #1a1e34;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 2em;
}

.prof-box ul {
  list-style-type: none;
  padding: 0;
}

.prof-box li {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

.prof-box li:last-child {
  border-bottom: none;
}

.prof-box li::before {
  content: "•";
  color: #eeefdd;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.product {
  background-color: #1a1e34;
  color: #ffffff;
  border: 1px solid #4b4b5f;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 2em;
}

.result-info {
  background-color: #1a1e34;
  color: #ffffff;
  border: 1px solid #4b4b5f;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
}

/* 下線を引くスタイル */
.underline {
  display: inline-block; /* 必要に応じて幅を調整 */
  border-bottom: 2px solid rgb(255, 255, 255); /* 下線を追加 */
  padding-bottom: 2px; /* 文字と下線の間に隙間を作る */
}

.message {
  font-size: 22px; /* 文字サイズを20pxに設定 */
  font-weight: bold; /* 太字に設定 (必要であれば省略可) */
  text-align: center; /* 中央揃え (必要に応じて追加) */
  margin-top: 10px; /* 上下に余白を追加 (必要に応じて調整) */
  color: #c8c8c8;
}
